body {
  background: linear-gradient(180deg, rgb(32, 66, 58) 0%, rgb(138, 181, 171) 24%);
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: -1;
  transform: rotate(-45deg);
}

.star {
  --star-color: #D7E1E2;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.61em;
  --top-offset: 46.05vh;
  --fall-duration: 7.009s;
  --fall-delay: 2.939s;
}
.star:nth-child(2) {
  --star-tail-length: 6.28em;
  --top-offset: 64.23vh;
  --fall-duration: 6.53s;
  --fall-delay: 0.012s;
}
.star:nth-child(3) {
  --star-tail-length: 6.03em;
  --top-offset: 66.22vh;
  --fall-duration: 10.406s;
  --fall-delay: 6.947s;
}
.star:nth-child(4) {
  --star-tail-length: 5.6em;
  --top-offset: 26.38vh;
  --fall-duration: 10.544s;
  --fall-delay: 5.996s;
}
.star:nth-child(5) {
  --star-tail-length: 6.36em;
  --top-offset: 59.15vh;
  --fall-duration: 8.438s;
  --fall-delay: 6.416s;
}
.star:nth-child(6) {
  --star-tail-length: 5.42em;
  --top-offset: 47.65vh;
  --fall-duration: 9.502s;
  --fall-delay: 1.885s;
}
.star:nth-child(7) {
  --star-tail-length: 7em;
  --top-offset: 29.27vh;
  --fall-duration: 8.909s;
  --fall-delay: 3.588s;
}
.star:nth-child(8) {
  --star-tail-length: 5.66em;
  --top-offset: 28.8vh;
  --fall-duration: 10.465s;
  --fall-delay: 5.582s;
}
.star:nth-child(9) {
  --star-tail-length: 6.18em;
  --top-offset: 4.83vh;
  --fall-duration: 8.183s;
  --fall-delay: 9.859s;
}
.star:nth-child(10) {
  --star-tail-length: 5.2em;
  --top-offset: 73.78vh;
  --fall-duration: 8.704s;
  --fall-delay: 7.604s;
}
.star:nth-child(11) {
  --star-tail-length: 7.03em;
  --top-offset: 55.87vh;
  --fall-duration: 10.511s;
  --fall-delay: 7.083s;
}
.star:nth-child(12) {
  --star-tail-length: 6.13em;
  --top-offset: 43.63vh;
  --fall-duration: 11.988s;
  --fall-delay: 6.059s;
}
.star:nth-child(13) {
  --star-tail-length: 6.17em;
  --top-offset: 38.98vh;
  --fall-duration: 8.827s;
  --fall-delay: 0.014s;
}
.star:nth-child(14) {
  --star-tail-length: 5.87em;
  --top-offset: 99.9vh;
  --fall-duration: 10.219s;
  --fall-delay: 8.692s;
}
.star:nth-child(15) {
  --star-tail-length: 5.7em;
  --top-offset: 30.82vh;
  --fall-duration: 11.439s;
  --fall-delay: 4.21s;
}
.star:nth-child(16) {
  --star-tail-length: 7.11em;
  --top-offset: 31.56vh;
  --fall-duration: 10.318s;
  --fall-delay: 1.62s;
}
.star:nth-child(17) {
  --star-tail-length: 6.77em;
  --top-offset: 59.86vh;
  --fall-duration: 7.373s;
  --fall-delay: 6.076s;
}
.star:nth-child(18) {
  --star-tail-length: 5.1em;
  --top-offset: 57.42vh;
  --fall-duration: 8.593s;
  --fall-delay: 5.724s;
}
.star:nth-child(19) {
  --star-tail-length: 6.64em;
  --top-offset: 23.54vh;
  --fall-duration: 7.043s;
  --fall-delay: 1.454s;
}
.star:nth-child(20) {
  --star-tail-length: 7.2em;
  --top-offset: 64.86vh;
  --fall-duration: 8.482s;
  --fall-delay: 5.054s;
}
.star:nth-child(21) {
  --star-tail-length: 6.63em;
  --top-offset: 95.62vh;
  --fall-duration: 11.359s;
  --fall-delay: 5.709s;
}
.star:nth-child(22) {
  --star-tail-length: 5.8em;
  --top-offset: 82.32vh;
  --fall-duration: 6.668s;
  --fall-delay: 3.864s;
}
.star:nth-child(23) {
  --star-tail-length: 6.23em;
  --top-offset: 32.59vh;
  --fall-duration: 10.638s;
  --fall-delay: 8.715s;
}
.star:nth-child(24) {
  --star-tail-length: 6.99em;
  --top-offset: 22.62vh;
  --fall-duration: 11.741s;
  --fall-delay: 0.35s;
}
.star:nth-child(25) {
  --star-tail-length: 5.41em;
  --top-offset: 33.91vh;
  --fall-duration: 8.023s;
  --fall-delay: 7.152s;
}
.star:nth-child(26) {
  --star-tail-length: 6.77em;
  --top-offset: 90.73vh;
  --fall-duration: 7.021s;
  --fall-delay: 2.725s;
}
.star:nth-child(27) {
  --star-tail-length: 6.46em;
  --top-offset: 11.89vh;
  --fall-duration: 8.989s;
  --fall-delay: 8.999s;
}
.star:nth-child(28) {
  --star-tail-length: 5.11em;
  --top-offset: 20.12vh;
  --fall-duration: 10.368s;
  --fall-delay: 6.403s;
}
.star:nth-child(29) {
  --star-tail-length: 5.16em;
  --top-offset: 10.68vh;
  --fall-duration: 11.202s;
  --fall-delay: 2.952s;
}
.star:nth-child(30) {
  --star-tail-length: 6.22em;
  --top-offset: 50.87vh;
  --fall-duration: 6.528s;
  --fall-delay: 7.368s;
}
.star:nth-child(31) {
  --star-tail-length: 6.87em;
  --top-offset: 12.79vh;
  --fall-duration: 6.553s;
  --fall-delay: 9.628s;
}
.star:nth-child(32) {
  --star-tail-length: 6.81em;
  --top-offset: 6.39vh;
  --fall-duration: 10.69s;
  --fall-delay: 2.843s;
}
.star:nth-child(33) {
  --star-tail-length: 7em;
  --top-offset: 67.19vh;
  --fall-duration: 11.585s;
  --fall-delay: 6.63s;
}
.star:nth-child(34) {
  --star-tail-length: 5.97em;
  --top-offset: 59.31vh;
  --fall-duration: 10.337s;
  --fall-delay: 2.352s;
}
.star:nth-child(35) {
  --star-tail-length: 7.44em;
  --top-offset: 72.23vh;
  --fall-duration: 8.901s;
  --fall-delay: 0.809s;
}
.star:nth-child(36) {
  --star-tail-length: 5.91em;
  --top-offset: 60.95vh;
  --fall-duration: 8.386s;
  --fall-delay: 8.979s;
}
.star:nth-child(37) {
  --star-tail-length: 5.34em;
  --top-offset: 44.93vh;
  --fall-duration: 7.678s;
  --fall-delay: 2.764s;
}
.star:nth-child(38) {
  --star-tail-length: 7.09em;
  --top-offset: 7.24vh;
  --fall-duration: 7.19s;
  --fall-delay: 5.341s;
}
.star:nth-child(39) {
  --star-tail-length: 5.64em;
  --top-offset: 75.48vh;
  --fall-duration: 8.035s;
  --fall-delay: 9.848s;
}
.star:nth-child(40) {
  --star-tail-length: 7.47em;
  --top-offset: 95.71vh;
  --fall-duration: 9.553s;
  --fall-delay: 4.849s;
}
.star:nth-child(41) {
  --star-tail-length: 7.44em;
  --top-offset: 37.57vh;
  --fall-duration: 10.518s;
  --fall-delay: 8.147s;
}
.star:nth-child(42) {
  --star-tail-length: 6.59em;
  --top-offset: 4.88vh;
  --fall-duration: 9.546s;
  --fall-delay: 1.16s;
}
.star:nth-child(43) {
  --star-tail-length: 7.45em;
  --top-offset: 86.14vh;
  --fall-duration: 8.275s;
  --fall-delay: 4.319s;
}
.star:nth-child(44) {
  --star-tail-length: 6.88em;
  --top-offset: 78.78vh;
  --fall-duration: 6.438s;
  --fall-delay: 4.523s;
}
.star:nth-child(45) {
  --star-tail-length: 7.5em;
  --top-offset: 77.01vh;
  --fall-duration: 9.485s;
  --fall-delay: 1.018s;
}
.star:nth-child(46) {
  --star-tail-length: 6.26em;
  --top-offset: 14.76vh;
  --fall-duration: 11.475s;
  --fall-delay: 2.403s;
}
.star:nth-child(47) {
  --star-tail-length: 6.88em;
  --top-offset: 43.27vh;
  --fall-duration: 6.807s;
  --fall-delay: 7.334s;
}
.star:nth-child(48) {
  --star-tail-length: 6.68em;
  --top-offset: 83.74vh;
  --fall-duration: 7.485s;
  --fall-delay: 9.989s;
}
.star:nth-child(49) {
  --star-tail-length: 7.45em;
  --top-offset: 20.47vh;
  --fall-duration: 11.402s;
  --fall-delay: 2.936s;
}
.star:nth-child(50) {
  --star-tail-length: 5.88em;
  --top-offset: 98.28vh;
  --fall-duration: 10.572s;
  --fall-delay: 9.821s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/*# sourceMappingURL=fond.css.map */
