footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer > p {
  width: 50%;
}

footer p:hover {
  font-style: italic;
  cursor: pointer;
}

footer div {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: lighter;
}
