@import url(fond.css);
@import url(propos.css);
@import url(competences.css);
@import url(projets.css);
@import url(assets.css);
@import url(navbar.css);
@import url(footer.css);
@import url(smallProjects.css);
@import url(bap.css);
@import url(twiter.css);

@font-face {
  font-family: Gavency;
  src: url(../font/Gavency.otf);
}

@font-face {
  font-family: Rumbles Brave;
  /* src: url(../font/Rumble\ Brave.otf); */
  src: url(../font/titania/Titania-Regular.ttf);
}
:root {
  /* --primary-color: #132a13;
  --secondary-color: #f0f3bd; */
    --primary-color: #2D5627;
    --secondary-color: #eaf1ea;
    --third-color: #ffffff;
  --font-regular: "Poppins", sans-serif;
  --font-bold: Rumbles Brave, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-regular);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: grey;
  color: white;
  flex-direction: column;
  cursor: none;
}

.accueil p {
  font-family: var(--font-bold);
}

.accueil {
  font-size: 9rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  color: var(--secondary-color);
}
.accueil .metier {
  font-size: 5rem;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: var(--primary-color);
  position: fixed; 
  mix-blend-mode: hard-light;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
  transition: background-color 0.2s ease-in-out;
}

.circlePointer{ 
  height: 50px;
  width: 50px;
  clip-path: polygon(0 0, 53% 13%, 30% 20%, 51% 42%, 41% 50%, 21% 27%, 13% 50%);
  background-color: red ;
}
/* .grow {
  min-height: 50px;
  min-width: 50px;  
  transform: translate(-50%, -50%); /* add this line */
/* } */ 

.p {
 display: none;
}
.hoverProjets{
  display: block;
}


i{
  position: absolute;
  height: 200px;
  background: linear-gradient(transparent, #fff);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: animationetoile 5s linear infinite;
  z-index: -1;
}

i:nth-child(3n+1){
  background: linear-gradient(transparent, #afafaf);
}
i:nth-child(3n+2){
  background: linear-gradient(transparent, #ffffff);
}
i:nth-child(3n+3){
  background: linear-gradient(transparent, #8a8a8a);
}

@keyframes animationetoile{
  0%{
    transform: translateY(-200px);
  }
  100%{
    transform: translateY(calc(100vh + 200px));
  }
}
@media screen and (max-width: 930px) {
  html {
    font-size: 12px;
  }
  .accueil {
    font-size: 7rem;
  }
  .accueil .metier {
    font-size: 3rem;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }
  .accueil {
    font-size: 5rem;
    min-height: 70vh;
  }
  .circle{
    display: none;
  }
  body{
    cursor: auto;
  }
}
