@import url(fond.css);
@import url(propos.css);
@import url(competences.css);
@import url(projets.css);
@import url(assets.css);
@import url(navbar.css);
@import url(footer.css);

@font-face {
  font-family: Gavency;
  src: url(../font/Gavency.otf);
}

@font-face {
  font-family: Rumbles Brave;
  /* src: url(../font/Rumble\ Brave.otf); */
  src: url(../font/titania/Titania-Regular.ttf);
}
:root {
  /* --primary-color: #132a13;
  --secondary-color: #f0f3bd; */
    --primary-color: #2D5627;
    --secondary-color: #F1F1C5;
    --third-color: #fffff3;
  --font-regular: "Poppins", sans-serif;
  --font-bold: Rumbles Brave, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-regular);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: grey;
  color: white;
  flex-direction: column;
}

.accueil p {
  font-family: var(--font-bold);
}

.accueil {
  font-size: 9rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  color: var(--secondary-color);
}
.accueil .metier {
  font-size: 5rem;
}

@media screen and (max-width: 930px) {
  html {
    font-size: 12px;
  }
  .accueil {
    font-size: 7rem;
  }
  .accueil .metier {
    font-size: 3rem;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }
  .accueil {
    font-size: 5rem;
    min-height: 70vh;
  }
}
